<launch>

  # COPPELIA SIMULATOR
  <include file="$(find-pkg-share coppelia_ros2_pkg)/launch/coppeliaSim.launch"/> 
  
  # Keyboard Control
  <include file="$(find-pkg-share keyboard_control)/launch/keyboard_control.launch"/>
 
  # NAV2 STACK
  <include file="$(find-pkg-share missions_pkg)/launch/nav2_launch.py"/>
  
  # SLAM-MAPPING (map generation)
  <!-- <include file="$(find-pkg-share missions_pkg)/launch/slam_mapping.py"/> -->

  # RVIZ (see rvix.launch)
</launch>
